/Frends.MQTT.Connect/.git.tar
/Frends.MQTT.Receive/Frends.MQTT.Receive.Tests/obj
/Frends.MQTT.Receive/Frends.MQTT.Receive.Tests/bin
/Frends.MQTT.Receive/Frends.MQTT.Receive/obj
/Frends.MQTT.Receive/Frends.MQTT.Receive/bin
/Frends.MQTT.Receive/.vs
