/Frends.MQTT.Disconnect/bin
/Frends.MQTT.Subscribe/bin
/Frends.MQTT.Connect/bin
/Frends.MQTT.Connect.Tests/bin
/Frends.MQTT.Subscribe.Tests/bin
/Frends.MQTT.Disconnect.Tests/bin
/Frends.MQTT.Connect/obj
/Frends.MQTT.Connect.Tests/obj
/Frends.MQTT.Disconnect/obj
/Frends.MQTT.Disconnect.Tests/obj
/Frends.MQTT.Subscribe/obj
/Frends.MQTT.Subscribe.Tests/obj
/.vs
/Frends.MQTT.Subscribe
/Frends.MQTT.Subscribe.Tests
/Frends.MQTT.Disconnect
/Frends.MQTT.Disconnect.Tests
/Frends.MQTT.Connect.Tests/Frends.MQTT.Receive.Tests.csproj
